{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<script>
function get_data(){
  var d = new Date();
  d.setMonth(d.getMonth() - 1);
  d.setHours(0, 0, 0, 0);
  $.ajax({
      type: "POST",
      url: "{% url 'api_raw_data' %}", 
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'from_date':d.toJSON(),
        'to_date':new Date().toJSON(),
        'asset':1,
        'interval':3
      },
      success : function(data) {
          $('#main-content').text(data);
        }
  });
}
get_data()
</script>
{% endblock %}

