//Variables
$mobile-width: 768px;
$header-height: 5rem;
$nav-width: 68px;
$normal-font-size: 1rem;
$z-fixed: 100;

//Colors
$primary-color: #c90076;
$primary-color-lighter-90: #ddffea;
$light-white-color: #F7F6FB;
$light-gray-color: #D3D3D3;

$background-color-light: #f5f9fc;

//FONT
$base-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";