@import "variables";
@import "icons/cryptofont.scss";
@import "components/header";
@import "components/navbar";
@import "components/chart";


*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: $header-height 0 0 0;
    padding: 0 1rem;
    font-size: $normal-font-size;
    transition: .5s;
    background-color: $background-color-light;
}

a {
    text-decoration: none
}

.crypto-select{
    font-family: 'cryptofont', $base-font;
    filter-option{
        color: $primary-color;
    }   
}

#periodInput{
    border-radius: .375rem 0px 0px .375rem;
}