{% for asset in assets %}
<p>{{asset.name}}</p>
{%endfor%}
<canvas id="myChartBar"></canvas>
<script>
  drawBarGraph("myChartBar")
  function drawBarGraph(id) {
    var labels = [
                  'January',
                  'February', 
                  'March', 
                  'April', 
                  'May', 
                  'June', 
                  'July'
                  ]
    var chartLabel = "my data"
    var chartdata = [0, 10, 5, 2, 20, 30, 45]
    var ctx = document.getElementById(id).getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          data: chartdata,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }

function get_data(){
  var d = new Date();
  d.setMonth(d.getMonth() - 1);
  d.setHours(0, 0, 0, 0);
  $.ajax({
      type: "POST",
      url: "{% url 'api_raw_data' %}", 
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'from_date':d.toJSON(),
        'to_date':new Date().toJSON(),
        'asset':1,
        'interval':3
      },
      success : function(data) {
          
        }
  });
}
get_data()
</script>

