<div class="container chart-container">
  <div class="row pb-3">
    <div class="col-4 chart-filter">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Settings</li>
          <li class="list-group-item">
            <div class="mb-3">
              <label for="assetSelect" class="form-label d-block fw-semibold">Crypto</label>
              <select id="assetSelect" class="selectpicker crypto-select" data-live-search="true" data-size="5" data-width="100%" onchange="onChangeSettings(event);">
                {% for asset in assets %}
                  <option data-tokens="{{asset.ticker}}" value="{{asset.id}}">{{asset.symbol_unicode|safe}} {{asset.name}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="mb-3">
                <label for="startDate">Start</label>
                <input id="startDate" class="form-control" type="date" onchange="onChangeSettings(event);"/>
            </div>
            <div class="mb-3">
                <label for="endDate">End</label>
                <input id="endDate" class="date form-control" type="date" onchange="onChangeSettings(event);"/>
            </div>
            <div class="mb-3">
              <label for="scopeSelect">Scope</label>
              <select id="scopeSelect" class="form-select" onchange="onChangeSettings(event);">
                <option value="1">Day</option>
                <option value="2" selected="selected">Week</option>
                <option value="3">Month</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Chart</li>
          <li class="list-group-item">
            <canvas id="myChartBar"></canvas>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Data Used</li>
          <li class="list-group-item">
            <canvas id="dataUsedChart"></canvas>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
$('#assetSelect').selectpicker();
var assetInput = $("#assetSelect").val(),
startDateInput = document.getElementById('startDate').valueAsDate,
endDateInput = document.getElementById('endDate').valueAsDate,
scopeInput = document.getElementById('scopeSelect').value;

function onChangeSettings(e){
  var id = e.target.id,
  value = e.target.value,
  valueAsDate = e.target.valueAsDate;
  if (id && (value || valueAsDate)){
    switch(id){
      case 'assetSelect':
        if (assetInput != value){
          assetInput = value;
          updateData();
        }
        break;
      case 'startDate':
        if (startDateInput != valueAsDate){
          startDateInput = valueAsDate;
          updateData();
        }
        break;
      case 'endDate':
        if (endDateInput != valueAsDate){
          endDateInput = valueAsDate;
          updateData();
        }
        break;
      case 'scopeSelect':
        if (scopeInput != value){
          scopeInput = value;
          updateData();
        }
        break;
      default:
        console.log(`${e.target.id} does not exist!`);
        break;
    }
  }
}

function get_data(){
  return $.ajax({
      type: "POST",
      url: "{% url 'api_raw_data' %}", 
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'from_date': startDateInput.toJSON(),
        'to_date': endDateInput.toJSON(),
        'asset':assetInput,
        'scope':scopeInput
      },
      success : function(data) {
        console.log(data)
        return data
      }
  });
}

function updateData(){
  if (assetInput && startDateInput && endDateInput && scopeInput){
    console.log('compleet');
    get_data().then(function(results){
      console.log(results)
      var graph_data = results.results;
      drawBarGraph(graph_data, "myChartBar");
    });
  }
}

function drawBarGraph(data, id) {
  var labels = data.map(a => a.date);
  var chartdata = data.map(a => a.amount);
  var ctx = document.getElementById(id).getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        data: chartdata,
        backgroundColor: [
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)',
          'rgba(201, 0, 118, 0.2)'
        ],
        borderColor: [
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)',
          'rgba(201, 0, 118, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      }
    }
  });
}
</script>

