<div class="container chart-container">
  <div class="row">
    <div class="col-4 chart-filter p-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Settings</li>
          <li class="list-group-item">
            <div class="mb-3">
              <label for="assetSelect" class="form-label d-block fw-semibold">Crypto</label>
              <select id="assetSelect" class="selectpicker crypto-select" data-live-search="true" data-size="5">
                {% for asset in assets %}
                  <option data-tokens="{{asset.ticker}}">{{asset.symbol_unicode|safe}} {{asset.name}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="mb-3">
                <label for="startDate">Start</label>
                <input id="startDate" class="form-control" type="date" />
            </div>
            <div class="mb-3">
                <label for="endDate">End</label>
                <input id="endDate" class="form-control" type="date" />
            </div>
            <div class="mb-3">
              <label for="startDate">Scope</label>
              <select class="form-select">
                <option value="1">Day</option>
                <option value="2">Week</option>
                <option value="3">Month</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Chart</li>
          <li class="list-group-item">
            <canvas id="myChartBar"></canvas>
          </li>
        </ul>
      </div>
    </div>
  <div>
</div>

<script>
  $('#assetSelect').selectpicker();
  drawBarGraph("myChartBar")
  function drawBarGraph(id) {
    var labels = [
                  'January',
                  'February', 
                  'March', 
                  'April', 
                  'May', 
                  'June', 
                  'July'
                  ]
    var chartLabel = "my data"
    var chartdata = [0, 10, 5, 2, 20, 30, 45]
    var ctx = document.getElementById(id).getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          data: chartdata,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }

function get_data(){
  var d = new Date();
  d.setMonth(d.getMonth() - 1);
  d.setHours(0, 0, 0, 0);
  $.ajax({
      type: "POST",
      url: "{% url 'api_raw_data' %}", 
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'from_date':d.toJSON(),
        'to_date':new Date().toJSON(),
        'asset':1,
        'interval':3
      },
      success : function(data) {
          
        }
  });
}
get_data()
</script>

