{% load static %}
<div class="container chart-container">
  <div class="row pb-3">
    <div class="col">
      <h2>Investment Calculator</h2>
      <p>Want to compare assets over a historical period of time or determine what the best day is to DCA? Go ahead!</p>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Assets</li>
          <li class="list-group-item">
            <div class="mb-3">
                <select id="assetSelect" name="assetList[]" class="selectpicker crypto-select" data-live-search="true" data-size="5" data-width="100%" onchange="addAsset(this);" title="Search for assets..." data-selected-text-format="static">
                  {% for asset in assets %}
                    <option data-tokens="{{asset.ticker}}" value="{{asset.id}}" data-icon="{{asset.symbol|safe}}">{{asset.name}}</option>
                  {%endfor%}
                </select>
            </div>
            <div class="assets-selected row">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12 col-lg-4 mb-3 mb-lg-0 chart-filter">
      <div class="card h-100">
        <ul class="list-group list-group-flush h-100">
          <li class="list-group-item fw-bold">Settings</li>
          <li class="list-group-item h-100">
            <div class="mb-3">
              <label for="purchaseAmount">Purchase Amount</label>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input id="purchaseAmount" type="number" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onchange="onChangeSettings(this);">
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <div class="mb-3">
              <label for="intervalSelect">Investment Interval</label>
              <select id="intervalSelect" class="form-select" onchange="onChangeSettings(this);">
                <option value="0">Daily</option>
                <option value="1" selected="selected">Weekly</option>
                <option value="2">Every two weeks</option>
                <option value="3">Montly</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="periodInput">Investment Period</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input id="periodInput" type="number" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onchange="onChangeSettings(this);">
                </div>
                <select class="form-select" id="periodSelect" onchange="onChangeSettings(this);">
                  <option value="1">Week(s)</option>
                  <option value="2" selected="selected">Month(s)</option>
                  <option value="3">Year(s)</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
                <label for="endDate">End Period</label>
                <input id="endDate" class="date form-control" type="date" onchange="onChangeSettings(this);"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card h-100">
        <ul class="list-group list-group-flush h-100">
          <li class="list-group-item fw-bold">Chart</li>
          <li class="list-group-item h-100 result-chart">
            <canvas id="resultsChart"></canvas>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">Data Used</li>
          <li class="list-group-item data-used-chart">
            <canvas id="dataUsedChart"></canvas>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
function get_data(asset){
  console.log(asset);
  return $.ajax({
      type: "POST",
      url: "{% url 'api_chart_ic_data' %}", 
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'from_date': startDateInput.toJSON(),
        'to_date': endDateInput.toJSON(),
        'asset':asset.id,
        'purchase_amount':purchaseAmountInput,
        'interval':intervalInput,
        'pricedata':dataInput
      },
      success : function(data) {
        console.log(data)
        return data
      }
  });
}
</script>
<script src="{% static 'js/ic.js' %}"></script>