.chart-container{
    .assets-selected{
        font-family: 'cryptofont', $base-font;
    }
    .result-chart{
        canvas{
            height: 100%;
        }
    }
    .data-used-chart{
        canvas{
            height: 300px;
        }
    }
    .add-asset{
        border-radius: 100%;
        font-size: 0.8rem;
        padding: 0.5rem 0.5rem;
    }
}