<html>
    <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}- BS.</title>
    {% load static %}
    {% include 'components/style.html' %}
    {% include 'components/script.html' %}
    </head>
    <body>
        <header class="header" id="header">
            <div class="d-flex align-items-center">
                <div class="header_app">BS.</div>
                <div class="t-navbar" id="nav-bar">
                    <nav class="nav">
                        <div>
                            <div class="nav_list">
                                <a href="javascript:javascript:void(0)" onClick="javascript:nav_dashboard()" class="nav_logo"><span class="nav_name">BSBOT</span></a>
                                <a href="javascript:javascript:void(0)" onClick="javascript:nav_charts()" class="nav_link active"><span class="nav_name">BS Index</span></a>
                                <a href="#" class="nav_link"><span class="nav_name">About Us</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="header_toggle"><i class='fas fa-bars' id="header-toggle"></i></div>
            {% comment %} <div class="header_img"> <i class='fas fa-user-circle' style="font-size: 48px;" id="header-toggle"></i> </div> {% endcomment %}
        </header>
        <!--Container Main start-->
        <div id="main-content" class="pt-5 d-flex flex-column align-items-center">
            {% block content %}
            {% endblock %}
        </div>
        <!--Container Main end-->
    </body>
    <script>
        {% comment %} {% comment %} function nav_dashboard(){
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_dashboard_overview' %}", 
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success : function(data) {
                     $('#main-content').html(data);
                 }
            });
        } {% endcomment %}

        function nav_charts(){
            $.ajax({
                type: "GET",
                url: "{% url 'api_chart_overview' %}", 
                success : function(data) {
                     $('#main-content').html(data);
                 }
            });
        }
    </script>
    {% block scripting %}{% endblock %}
    
</html>